@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
}
h1, h2, h3, h4, .navbar-brand {
    font-family: "Gugi", sans-serif;
}
.nav-link:hover,
.nav-link.active{
    color: #ff0000 !important;
}
header{
    background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/main-bg.jpg);
    /* linear-gradient이미지 위에 색상을 입힘  */
    background-size: cover;
    /* 가로세로 비율을 맞춰줌 */
    background-position: center top;
    /* 기준점을 바꿈 x,y or(x=y) */
}
#sns-links{
    background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/sns-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.card-hover:hover{
    background-color: #ffc10726;
    cursor:pointer; 
}
#news{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/news-bg.jpg);
    background-size: cover;
    background-position: center;
    
}
#bestmenu{
 background-image: url(../images/bestmenu.jpg);
 background-size: cover;
}

@media (min-width:768px) and (max-width:1024px){
 .text {
    font-size: 13px;
}
}
